html, body {
    min-height: 100%;
}


#lampada{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 187px;
    top: 139px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.017em;

    color: #FBB910;
}

#small_rectangle{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 181px;
    top: 133px;

    border-radius: 30px; /*aqui eu não sei se tenho que colocar*/
    
    background: #FFF5C0;
}

#medium_rectangle{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 176px;
    top: 128px;

    border-radius: 30px;

    background: #FFFCEE;
}

#big_rectangle{
    position: absolute;
    width: 620px;
    height: 119px;
    left: 160px;
    top: 112px;

    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
}

#frase_do_dia{
    position: absolute;
    width: 75px;
    height: 18px;
    left: 227px;
    top: 113px; /*aqui era 128px, mas troquei para 113px*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #141414;
}

#frase{
    position: absolute;
    width: 532px; 
    height: 63px;
    left: 228px;
    top: 137px; /*aqui era 152px, mas troquei para 137px*/
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    
    color: #141414;
}






#big_circle{
    box-sizing: border-box;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 423px;
    top: 263px;

    border: 2px solid #226ED8;
    border-radius: 40px;
}






.add{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 430px;
    top: 270px;
    
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #226ED8;
}

/**/


h2{
    position: absolute;
    width: 68px;
    height: 30px;
    left: 160px;
    top: 245px; /*era 263px mas coloquei 245*/

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;
}



#fundoCinza1{
        position: absolute;
        width: 293px;
        height: 337px;
        left: 160px;
        top: 301px;
        
        background: #EEEEEE;
        border-radius: 10px;
    }


#fundoCinza2{
    position: absolute;
    width: 293px;
    height: 337px;
    left: 493px;  
    top: 301px;
    
    background: #EEEEEE;
    border-radius: 10px;      
}

#fundoCinza3{
    position: absolute;
    width: 293px;
    height: 337px;
    left: 827px;
    top: 301px;
    
    background: #EEEEEE;
    border-radius: 10px;      
}




#fundoBranco1{
    position: absolute;
    width: 253px;
    height: 74px;
    left: 20px; /*era 0px*/
    top: 18.25px; /*era 0px*/

    background: #FFFFFF;
    border-radius: 10px;
}

#fundoBranco2{
    position: absolute;
    width: 253px;
    height: 116px;
    left: 20px;
    top: 110.5px;

    background: #FFFFFF;
    border-radius: 10px;
}

#fundoBranco3{
    position: absolute;
    width: 253px;
    height: 74px;
    left: 20px;
    top: 244.75px;

    background: #FFFFFF;
    border-radius: 10px;
}


#pagarConta{
    position: absolute;
    width: 192px;
    height: 21px;
    left: 12px;
    top: 0px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #141414;
}

#lerDesc{
    position: absolute;
    width: 80px;
    height: 18px;
    left: 12px;
    top: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;
}


#expand_more{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 80px;
    top: 50px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.017em;

    color: #141414;

}

#delete_outline{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 180px;
    top: 39px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #DF0000;
}

#rec{
    position: absolute;
    width: 71px;
    height: 31px;
    left: 173px;
    top: 32px;

    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

}

#excluir{
    position: absolute;
    width: 38px;
    height: 18px;
    left: 199px;
    top: 27px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #DF0000;
}


#more_vert{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 227px;
    top: 14px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #226ED8;

}


#fundoBranco2 p:nth-child(1){
    position: absolute;
    width: 209px;
    height: 21px;
    left: 12px;
    top: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;
}


#more_vert2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 227px;
    top: 17px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;

}



#esconder_desc{
    position: absolute;
    width: 118px;
    height: 18px;
    left: 12px;
    top: 33px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #002D6C;

}

.expand_less{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 110px;
    top: 49px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #002D6C;
}

#food{
    position: absolute;
    width: 163px;
    height: 36px;
    left: 12px;
    top: 57px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;

    color: #141414;
}

.blue_circle{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 221px;
    top: 86.5px;

    background: #226ED8;
    border-radius: 20px;
}

expand_next{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 223px;
    top: 86.5px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}


#expand_more2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 223px;
    top: 88.2px;

    rotate: -90deg;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#fundoBranco3 .blue_circle{
    position: absolute;
    left: 87.35%;
    right: 4.74%;
    top: 54.05%;
    bottom: 18.92%;

    background: #226ED8;
    border-radius: 20px;
}


#fundoBranco3 #expand_more{
    position: absolute;
    left: 89%;
    right: 5.53%;
    top: 62%;
    bottom: 21.62%;

    rotate: -90deg;
    
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;

}


#fundoBranco3 #more_vert{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 227px;
    top: 13px;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;

}

.manicure{
    position: absolute;
    left: -148.2px;
    right: 19.37%;
    top: 16.22%;
    bottom: 55.41%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;

}

#lerDesc{
    position: absolute;
    left: 4.74%;
    right: 63.64%;
    top: 47.11%;
    bottom: 17.57%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;
}


#fundoBranco3 #expand_more{
    position: absolute;
    left: 32.15%;
    right: 58.1%;
    top: 68.16%;
    bottom: 21.62%;

    rotate: 360deg;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #141414;
}

#fundoBranco3 #expand_more:nth-child(2){
    position: absolute;
    left: 88.9%;
    right: 5.53%;
    top: 61.76%;
    bottom: 21.62%;
    
    rotate: 270deg;

    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}








    h3{
        position: absolute;
        width: 156px;
        height: 30px;
        left: 493px;
        top: 245px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #141414;

    }

    #fundoBranco4{
        position: absolute;
        width: 253px;
        height: 74px;
        left: 20px; /*era 0px*/
        top: 18.25px; /*era 0px*/
        
        background: #FFFFFF;
        border-radius: 10px;
    }


    .manicure2{
        position: absolute;
        width: 192px;
        height: 21px;
        left: 12px;
        top: 0px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        /* identical to box height */
        
        display: flex;
        align-items: center;
        
        color: #141414;

    }

    #fundoBranco4 .blue_circle{
            top: 45px;
    }

    #fundoBranco4 #expand_more2{
        top: 47.3px;
    }

    #fundoBranco4 #more_vert{
        color: #141414;
    }

    .navigate_before{
        position: absolute;
        left: 77.87%;
        right: 15.81%;
        top: 56.76%;
        bottom: 5.62%;

        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        /* identical to box height */

        display: flex;
        align-items: center;

        color: #226ED8;
    }


    #white_circle{
        box-sizing: border-box;

        position: absolute;
        width: 20px;
        height: 20px;
        left: 195px;
        top: 45.5px;

        background: #FFFFFF;
        border: 1px solid #226ED8;
        border-radius: 20px;
    }

    /**/

        h4{
            position: absolute;
            width: 48px;
            height: 30px;
            left: 827px;
            top: 245px;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: #141414;

        }


        #fundoCinza3 #fundoBranco4{
            position: absolute;
            width: 253px;
            height: 74px;
            left: 20px; /*era 0px*/
            top: 18.25px; /*era 0px*/
            
            background: #FFFFFF;
            border-radius: 10px;
        }

        #fundoCinza3 #fundoBranco4 #lerDesc{
            position: absolute;
            left: 4.74%;
            right: 63.64%;
            top: 47.11%;
            bottom: 17.57%;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: #141414;
        }

        #fundoCinza3 #fundoBranco4 #more_vert{
            position: absolute;
            position: absolute;
            width: 16px;
            height: 16px;
            left: 227px;
            top: 14px;

            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: #141414; 
        }

        .replay{
            position: absolute;
            left: 88.14%;
            right: 5.53%;
            top: 69.7%;
            bottom: 21.62%;

            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            /* identical to box height */

            display: flex;
            align-items: center;

            color: #FFFFFF;

        }


        #manicureRiscado{
            position: absolute;
            left: 4.74%;
            right: 19.37%;
            top: .22%;
            bottom: 55.41%;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 21px;
            /* identical to box height */

            display: flex;
            align-items: center;
            text-decoration-line: line-through;

            color: #141414;
        }